
@{
    ViewData["Title"] = "AboutUsView";
}

<h1>Наша группа вконтакте: 
    <a href="https://vk.com/punctum53" target="_blank"><img src="~/css/free-icon-vk-142367.png" width="50" 
   height="50"></a>
</h1>
