@{
    ViewData["Title"] = "Home Page";
}


<body class="back">
    <div style="margin-top: 50px; margin-left: 10px;">
        <h1>КНИЖНЫЙ_КЛУБ.RU</h1>
        <h1 style="margin-top: 50px;">Погрузись в мир литературы.</h1>
        <h1>Здесь ты найдешь единомышленников</h1>
        <h1 style="margin-top: -10px;">и откроешь для себя новый мир!</h1>
    </div>
</body>


